<!-- modal de exclusão de uma nova imagem -->
<div id="modal-deletar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Formulário de Exclusão da Foto</h4>
            </div>
            <div class="modal-body">
                <p>Deseja excluir o item: {{foto.titulo}} ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Confirmar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
